name: EC2 Production Deployment
on:
  push:
      branches:
        - main
  workflow_dispatch:
jobs:
  Deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2 
      - name: Build & Deploy      
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > githubdeploy.pem
          chmod 400 githubdeploy.pem
          ssh -o StrictHostKeyChecking=no -i "githubdeploy.pem" ubuntu@ec2-3-83-11-18.compute-1.amazonaws.com '
              touch cock
              '